[submodule "rigel/thirdpart"]
	path = rigel/thirdpart
	url = git@github.com:soyemi/ProjRigel_ThirdPart.git
[submodule "Rigel/thirdpart"]
	path = Rigel/thirdpart
	url = git@github.com:soyemi/ProjRigel_ThirdPart.git
