# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Rigel_x86/*.pdb
/Rigel_x64/*.pdb
/Rigel_x86/*.ilk
/Rigel_x64/*.ilk

*.ipdb
*.iobj
